{% extends 'base2.html' %}
{% load static %}

{% block title%} {% endblock title %}
{% block head %}

{% endblock head %}

{% block sidebaranchor %}
<a href="{% url 'login' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-4">ADD DATA</span>
  </a> 
{% endblock sidebaranchor %}
{% if user.is_authenticated %}
{% if data == "yes" %}
{% block sidebarlist %}
<li class="nav-item">
    <a href="{% url 'admin' %}" class="nav-link text-white" aria-current="page">
        <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#home"></use>
        </svg>
        HOME
    </a>
  </li>
  <li class="nav-item">
    <a href="{% url 'adduser' %}" class="nav-link text-white" aria-current="page">
        <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#home"></use>
        </svg>
        ADD USER
    </a>
  </li>
  <li class="nav-item">
    <a href="{% url 'add_data' %}" class="nav-link text-white" aria-current="page">
        <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#home"></use>
        </svg>
       ADD DATA
    </a>
  </li>
  <li class="nav-item">
    <a href="{% url 'admindelete' %}" class="nav-link text-white" aria-current="page">
        <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#home"></use>
        </svg>
       DELETE DATA
    </a>
  </li>
  <li class="nav-item">
    <a href="{% url 'add_customer' %}" class="nav-link text-white" aria-current="page">
        <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#home"></use>
        </svg>
       Add Customer
    </a>
  </li>
  <li class="nav-item">
    <a href="{% url 'customerdetail' %}" class="nav-link text-white" aria-current="page">
        <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#home"></use>
        </svg>
       Customer Detail
    </a>
  </li>
  <li class="nav-item">
    <a href="{% url 'userlog' %}" class="nav-link text-white" aria-current="page">
        <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#home"></use>
        </svg>
       User Log
    </a>
  </li>
  <li class="nav-item">
    <a href="/logout" class="nav-link text-white" aria-current="page">
        <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#home"></use>
        </svg>
        LOGOUT
    </a>
  </li>
{% endblock sidebarlist %}
{% endif %}
{% endif %}

{% block content %}
{% if user.is_authenticated %}
{% if data == "yes" %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary" style="width:300px;height:60px;font-weight: bold;" data-bs-toggle="modal" data-bs-target="#exampleModal1">MAIN
                STAGE</button>
        </div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-success" style="width:300px;height:60px;font-weight: bold;" data-bs-toggle="modal"
                data-bs-target="#exampleModal2">PLANNING STAGE</button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6">
            <button type="submit" class="btn btn-warning" style="width:300px;height:60px;color:white;font-weight: bold;" data-bs-toggle="modal"
                data-bs-target="#exampleModal3">MANUFACTURING STAGE</button>
        </div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-danger" style="width:300px;height:60px;font-weight: bold;" data-bs-toggle="modal" data-bs-target="#exampleModal4">DISPATCH
                STAGE</button>
        </div>
    </div>
   
</div>

{% endif %}
{% endif %}

<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Main Stage</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="addlientname" id="floatingInput18"
                                    placeholder="">
                                <label for="floatingInput18">Add Client Name</label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="addmoc" id="floatingInput18"
                                    placeholder="">
                                <label for="floatingInput18">Add MOC</label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="addtooltype" id="floatingInput18"
                                    placeholder="">
                                <label for="floatingInput18">Add Tool Type</label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="addshape" id="floatingInput18"
                                    placeholder="">
                                <label for="floatingInput18">Add Shape</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="addtabletsize" id="floatingInput18"
                                    placeholder="">
                                <label for="floatingInput18">Add Tablet Size</label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="addu1" id="floatingInput18"
                                    placeholder="">
                                <label for="floatingInput18">Add U1</label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="addu2" id="floatingInput18"
                                    placeholder="">
                                <label for="floatingInput18">Add U2</label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="addl1" id="floatingInput18"
                                    placeholder="">
                                <label for="floatingInput18">Add L1</label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="addl2" id="floatingInput18"
                                    placeholder="">
                                <label for="floatingInput18">Add L2</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="addd" id="floatingInput18" placeholder="">
                                <label for="floatingInput18">Add D</label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="addset" id="floatingInput18"
                                    placeholder="">
                                <label for="floatingInput18">Add SET</label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="addplatingtype" id="floatingInput18"
                                    placeholder="">
                                <label for="floatingInput18">Add Plating Type</label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="addrawmaterial" id="floatingInput18"
                                    placeholder="">
                                <label for="floatingInput18">Add Raw Material</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">

                        </div>
                        <div class="col-sm-3">

                        </div>
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-primary">Add Data</button>
                        </div>
                        <div class="col-sm-3">

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal 2 -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="addpunchblank" id="floatingInput18"
                                    placeholder="">
                                <label for="floatingInput18">Add Punch Blank Used</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="adddieblank" id="floatingInput18"
                                    placeholder="">
                                <label for="floatingInput18">Add Die Blank Used</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">

                        </div>
                        <div class="col-sm-3">

                        </div>
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                        <div class="col-sm-3">

                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal 3 -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="addblank" id="floatingInput18"
                                    placeholder="">
                                <label for="floatingInput18">Add Blank</label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="addprocess" id="floatingInput18"
                                    placeholder="">
                                <label for="floatingInput18">Add Process</label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="addbodytipping" id="floatingInput18"
                                    placeholder="">
                                <label for="floatingInput18">Add Body-Tipping-Machine</label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="addheadmachining" id="floatingInput18"
                                    placeholder="">
                                <label for="floatingInput18">Head Machining</label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="addkeyway" id="floatingInput18"
                                    placeholder="">
                                <label for="floatingInput18">Add Keyway-Tapper-Finish</label>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="addht" id="floatingInput18"
                                    placeholder="">
                                <label for="floatingInput18">Add HT</label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="addgrinding" id="floatingInput18"
                                    placeholder="">
                                <label for="floatingInput18">Add Gringing</label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="addhardchrome" id="floatingInput18"
                                    placeholder="">
                                <label for="floatingInput18">Add Hard Chrome</label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="addqualitycheck" id="floatingInput18"
                                    placeholder="">
                                <label for="floatingInput18">Add Quality Check</label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="addpackaging" id="floatingInput18"
                                    placeholder="">
                                <label for="floatingInput18">Add Packaging Dispatch</label>
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-sm-5">

                        </div>
                        <div class="col-sm-7">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal 4 -->
<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="adddispachmode" id="floatingInput18"
                                    placeholder="">
                                <label for="floatingInput18">Add Dispach Mode</label>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <button type="submit" class="btn btn-primary" style="height:50px;">Save</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block main_script %}
{% endblock main_script %}