{% include 'includes/masterpage.html' %}
{% block title %} <title>Approval Pending Tasks</title> {% endblock title %}
{% block content %}
<div class="content-wrapper">
  <section class="content" style="margin-left:10%;">
    <form action="" method="POST" id="customeraddform">
      {% csrf_token %}
      <div class="text-center" style="font-size: 30px;font-style: bold;">Customer Details</div>
      <div class="row mt-2">
        <div class="col-sm-4">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="customerName" name="customername">
            <label for="customerName">Customer Name</label>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="customerEmail" name="customeremail" required>
            <label for="customerEmail">Customer Email</label>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="customerMobile" name="customermobile" required>
            <label for="customerMobile">Customer Mobile</label>
          </div>
        </div>
      </div>
      <div class="text-center" style="font-size: 30px;font-style: bold;">Company Details</div>
      <div class="row mt-2">
        <div class="col-sm-3">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="companyName" name="companyname">
            <label for="companyName">Company Name</label>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-floating mb-3">
            <input type="text" maxlength="50" class="form-control" id="companyAddress" name="companyaddress">
            <label for="companyAddress">Company Address</label>
          </div>
        </div>
        <div class="col-sm-3">
          <select name="state" id="state" class="form-control" style="">
            <option value="Andhra Pradesh">Andhra Pradesh</option>
            <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
            <option value="Assam">Assam</option>
            <option value="Bihar">Bihar</option>
            <option value="Chandigarh">Chandigarh</option>
            <option value="Chhattisgarh">Chhattisgarh</option>
            <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
            <option value="Daman and Diu">Daman and Diu</option>
            <option value="Delhi">Delhi</option>
            <option value="Lakshadweep">Lakshadweep</option>
            <option value="Puducherry">Puducherry</option>
            <option value="Goa">Goa</option>
            <option value="Gujarat">Gujarat</option>
            <option value="Haryana">Haryana</option>
            <option value="Himachal Pradesh">Himachal Pradesh</option>
            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
            <option value="Jharkhand">Jharkhand</option>
            <option value="Karnataka">Karnataka</option>
            <option value="Kerala">Kerala</option>
            <option value="Madhya Pradesh">Madhya Pradesh</option>
            <option value="Maharashtra">Maharashtra</option>
            <option value="Manipur">Manipur</option>
            <option value="Meghalaya">Meghalaya</option>
            <option value="Mizoram">Mizoram</option>
            <option value="Nagaland">Nagaland</option>
            <option value="Odisha">Odisha</option>
            <option value="Punjab">Punjab</option>
            <option value="Rajasthan">Rajasthan</option>
            <option value="Sikkim">Sikkim</option>
            <option value="Tamil Nadu">Tamil Nadu</option>
            <option value="Telangana">Telangana</option>
            <option value="Tripura">Tripura</option>
            <option value="Uttar Pradesh">Uttar Pradesh</option>
            <option value="Uttarakhand">Uttarakhand</option>
            <option value="West Bengal">West Bengal</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-3">
          <div class="form-floating mb-3">
            <input type="text" maxlength="50" class="form-control" id="companyCity" name="companycity">
            <label for="companyCity">Company City</label>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-floating mb-3">
            <input type="text" maxlength="50" class="form-control" id="companyPincode" name="companypincode">
            <label for="companyPincode">Company Pincode</label>
          </div>
        </div>
        <div class="col-sm-3">

        </div>

      </div>
      <div class="row">
        <div class="col-sm-5">

        </div>
        <div class="col-sm-7">
          <button class="btn btn-primary" type="submit" style="border-radius: 50px;width:100px;">Save</button>
        </div>
      </div>
    </form>
    <h1 style="color:greenyellow" id="message"></h1>
  </section>
</div>


{% endblock content %}
{% block main_script %}

{% endblock main_script %}