<!-- Sidebar Menu -->
<nav class="mt-2">
  <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->
    {% if request.user.is_superuser %}
      
      
      

    <li class="nav-item has-treeview menu-collapsable">
      <a href="#" class="nav-link">
        <i class="nav-icon fas fa-tasks"></i>
          <p>
            Die Punch
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="{% url 'admin' %}" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>Admin</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{%url 'adduser'%}" class="nav-link">
              <i class="nav-icon far fa-clock"></i>
              <p>
               Add User
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{%url 'add_data'%}" class="nav-link">
              <i class="nav-icon far fa-clock"></i>
              <p>
               Add Data
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{%url 'admindelete'%}" class="nav-link">
              <i class="nav-icon far fa-clock"></i>
              <p>
               Delete Data
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{%url 'add_customer'%}" class="nav-link">
              <i class="nav-icon far fa-clock"></i>
              <p>
               Add Customer
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{%url 'customerdetail'%}" class="nav-link">
              <i class="nav-icon far fa-clock"></i>
              <p>
               Customer Details
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{%url 'userlog'%}" class="nav-link">
              <i class="nav-icon far fa-clock"></i>
              <p>
               User Log
              </p>
            </a>
          </li>
          
          
          
        </ul>
    </li>
    <li class="nav-item">
      <a href="/logout" class="nav-link">
        <i class="nav-icon far fa-clock"></i>
        <p>
         Log Out
        </p>
      </a>
    </li>
      
  <br>
 
      
    {% elif request.user.is_user_role_1 %}
    {% if "die_punch" in permissions %}
    <li class="nav-item has-treeview menu-collapsable">
      <a href="#" class="nav-link">
        <i class="nav-icon fas fa-tasks"></i>
          <p>
            Die Punch
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="{% url 'index1' %}" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{%url 'adddata1'%}" class="nav-link">
              <i class="nav-icon far fa-clock"></i>
              <p>
               Create Form
              </p>
            </a>
          </li>
        </ul>
    </li>
    {% endif %}
    {% if "marketing" in permissions %}
    <li class="nav-item has-treeview menu-collapsable">
      <a href="#" class="nav-link">
        <i class="nav-icon fas fa-tasks"></i>
          <p>
            Marketing
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="{% url 'marketing_dashboard' %}" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{%url 'create_marketing_form'%}" class="nav-link">
              <i class="nav-icon far fa-clock"></i>
              <p>
               Create Marketing Form
              </p>
            </a>
          </li>
        </ul>
    </li>
    {% endif %}
   
    
    
    <li class="nav-item">
      <a href="{% url 'logout' %}" class="nav-link">
        <i class="nav-icon fas fa-sign-out-alt"></i>
      
        <p>
          Logout
        </p>
      </a>
    </li>
    {% elif request.user.is_auditorclerk %}
    <li class="nav-item">
      <a href="{% url 'auditor_dashboard' %}" class="nav-link">
        <i class="nav-icon fas fa-chart-line"></i>
        <p>
          Dashboard
        </p>
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'auditor_index' %}" class="nav-link">
        <i class="nav-icon fas fa-tasks"></i>
        <p>
          Assigned Tasks
        </p>
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'approval_tasks_pending' %}" class="nav-link">
        <i class="nav-icon fas fa-clock"></i>
        <p>
          Approvals Pending
        </p>
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'auditor_all_task_tasks_status' %}" class="nav-link">
        <i class="nav-icon far fa-check-circle"></i>
        <p>
         Approved Tasks 
        </p>
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'auditor_all_rejected_tasks_history' %}" class="nav-link">
        <i class="nav-icon far fa-times-circle"></i>
        <p>
          Rejected Tasks
        </p>
      </a>
    </li>
    <br>
    <li class="nav-item">
      <a href="{% url 'logout' %}" class="nav-link">
        <i class="nav-icon fas fa-sign-out-alt"></i>
      
        <p>
          Logout
        </p>
      </a>
    </li>
    {% elif request.user.is_manager %}
      <li class="nav-item has-treeview">
      <a href="{% url 'manager_dashboard' %}" class="nav-link">
        <i class="nav-icon fas fa-chart-line"></i>
        <p>
        Dashboard
        </p>
      </a>
    </li>
       
    <li class="nav-item">
      <a href="{% url 'list_of_clients' %}" class="nav-link">
        <i class="nav-icon fas fa-users"></i>
        <p>List of Clients</p>
      </a>
    </li>
  </li>
  <li class="nav-item">
    <a href="{% url 'manager_tasks' %}" class="nav-link">
      <i class="nav-icon fas fa-users"></i>
      <p>Tasks</p>
    </a>
  </li>
      
  
      <br>
        <li class="nav-item">
          <a href="/logout" class="nav-link">
            <i class="nav-icon fas fa-sign-out-alt"></i>
            <p>Logout</p>
          </a>
        </li>
        {% elif request.user.is_user_role_2 %}
        <li class="nav-item">
          <a href="{% url 'index2' %}" class="nav-link">
            <i class="nav-icon fas fa-chart-line"></i>
            <p> 
              Dashboard 
            </p>
          </a>
        </li>
        
        <br>
        <li class="nav-item">
          <a href="/logout" class="nav-link">
            <i class="nav-icon fas fa-sign-out-alt"></i>
            <p>Logout</p>
          </a>
        </li>
        {% elif request.user.is_super_admin %}
        <li class="nav-item">
          <a href="{% url 'super_admin_dashboard' %}" class="nav-link">
            <i class="nav-icon fas fa-chart-line"></i>
            <p> 
              Dashboard
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'add_main_client' %}" class="nav-link">
            <i class="nav-icon fas fa-chart-line"></i>
            <p> 
              Add Client
            </p>
          </a>
        </li>
        <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Masters
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'render_audits_master' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Audit Master</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'render_areas_master' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Areas Master</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'render_acts_master' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Sub Areas Master</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'render_activity_label_master' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Activity Label</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'render_activity_master' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Activity Master</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'render_task_master' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Task Master</p>
                </a>
              </li>
              
              
              <li class="nav-item">
                <a href="{% url 'render_industry_master' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Industry Master</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'render_audittype_master' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Audit Type Master</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'render_entity_master' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Entity Master</p>
                </a>
              </li>
            </ul>
        </li>
        <br>
        <li class="nav-item">
          <a href="{% url 'logout' %}" class="nav-link">
            <i class="nav-icon fas fa-sign-out-alt"></i>
            <p>Logout</p>
          </a>
        </li>
      {% endif %}
         