{% include 'includes/masterpage.html' %}
{% block title %} <title>Form Creation</title> {% endblock title %}
{% block content %}
<div class="content-wrapper">
  <section class="content">
    <div class="container">
      <form action="" method="POST" autocomplete="off">
        {% csrf_token %}
        <div class="row" style="background-color: peru;">
          <div class="col-sm-5">

          </div>
          <div class="col-sm-7">
            <h1>Main Stage</h1>
          </div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col-sm-3">
            <div class="form-floating mb-3">
              <input type="date" class="form-control" required name="orderdate"  id="floatingInput1" placeholder="">
              <label for="floatingInput1">Order Date</label>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" name="ordernumber"  required id="floatingInput2" placeholder="">
              <label for="floatingInput2">Order Number</label>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-floating mb-3">
              <select class="form-control" name="clientname" required aria-label="Default select example" id="floatingInput3">
                <option selected value="">Select From Dropdown</option>
                {% for i in CustomerDetail %}
                <option value="{{i.id}}">{{i.customerCompanyName}}</option>
                {% endfor %}
              </select>
              <label for="floatingInput3">Name of Client</label>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-floating mb-3">
              <input type="number" min="1" class="form-control" required name="value" id="floatingInput4" placeholder="" />
              <label for="floatingInput4">Value</label>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col-sm-3">
            <div class="form-floating mb-3">
              <select class="form-control" name="moc" required aria-label="Default select example" id="floatingInput5">
                <option selected value="">Select From Dropdown</option>
                {% for i in Moc %}
                <option value="{{i.id}}">{{i.name}}</option>
                {% endfor %}
              </select>
              <label for="floatingInput5">MOC</label>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-floating mb-3">
              <select class="form-control" name="tooltype" required aria-label="Default select example" id="floatingInput6">
                <option selected value="">Select From Dropdown</option>
                {% for i in ToolType %}
                <option value="{{i.id}}">{{i.name}}</option>
                {% endfor %}
              </select>
              <label for="floatingInput6">Tool Type / M.C</label>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-floating mb-3">
              <select class="form-control" name="shape" required aria-label="Default select example" id="floatingInput7">
                <option selected value="">Select From Dropdown</option>
                {% for i in Shape %}
                <option value="{{i.id}}">{{i.name}}</option>
                {% endfor %}
              </select>
              <label for="floatingInput7">Shape</label>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-floating mb-3">
              <select class="form-control" name="tabletsize" required aria-label="Default select example" id="floatingInput8">
                <option selected value="">Select From Dropdown</option>
                {% for i in TabletSize %}
                <option value="{{i.id}}">{{i.name}}</option>
                {% endfor %}
              </select>
              <label for="floatingInput8">Tablet Size</label>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col-sm-3">
            <div class="form-floating mb-3">
              <select class="form-control" name="u1" required aria-label="Default select example" id="floatingInput9">
                <option selected value="">Select From Dropdown</option>
                {% for i in U1 %}
                <option value="{{i.id}}">{{i.name}}</option>
                {% endfor %}
              </select>
              <label for="floatingInput9">U1</label>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-floating mb-3">
              <select class="form-control" name="u2" aria-label="Default select example" id="floatingInput10">
                <option selected value="">Select From Dropdown</option>
                {% for i in U2 %}
                <option value="{{i.id}}">{{i.name}}</option>
                {% endfor %}
              </select>
              <label for="floatingInput10">U2</label>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-floating mb-3">
              <select class="form-control" name="l1" required aria-label="Default select example" id="floatingInput11">
                <option selected value="">Select From Dropdown</option>
                {% for i in L1 %}
                <option value="{{i.id}}">{{i.name}}</option>
                {% endfor %}
              </select>
              <label for="floatingInput11">L1</label>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-floating mb-3">
              <select class="form-control" name="l2" aria-label="Default select example" id="floatingInput12">
                <option selected value="">Select From Dropdown</option>
                {% for i in L2 %}
                <option value="{{i.id}}">{{i.name}}</option>
                {% endfor %}
              </select>
              <label for="floatingInput12">L2</label>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col-sm-3">
            <div class="form-floating mb-3">
              <select class="form-control" name="d" required aria-label="Default select example" id="floatingInput13">
                <option selected value="">Select From Dropdown</option>
                {% for i in D %}
                <option value="{{i.id}}">{{i.name}}</option>
                {% endfor %}
              </select>
              <label for="floatingInput13">D</label>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-floating mb-3">
              <select class="form-control" name="set" required aria-label="Default select example" id="floatingInput14">
                <option selected value="">Select From Dropdown</option>
                {% for i in Set %}
                <option value="{{i.id}}">{{i.name}}</option>
                {% endfor %}
              </select>
              <label for="floatingInput14">SET</label>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-floating mb-3">
              <select class="form-control" name="platingtype" required aria-label="Default select example" id="floatingInput15">
                <option selected value="">Select From Dropdown</option>
                {% for i in PlatingType %}
                <option value="{{i.id}}">{{i.name}}</option>
                {% endfor %}
              </select>
              <label for="floatingInput15">Plating Type</label>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-floating mb-3">
              <input type="text"  class="form-control" name="orderremark" id="floatingInput4" placeholder="">
              <label for="floatingInput4">Remarks</label>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col-sm-4">

          </div>
          <div class="col-sm-3">
            <!-- <div class="form-floating mb-3">
              <input type="text" class="form-control" name="priority" required  id="floatingInput17" placeholder="">
              <label for="floatingInput17">Priority</label>
            </div> -->
          </div>
          <div class="col-sm-3">
            
          </div>
          
        </div>
        <div class="row" style="background-color: peru;">
          <div class="col-sm-5">

          </div>
          <div class="col-sm-7">
            <h2>Dispatch Stage</h2>
          </div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <!-- <div class="col-sm-3">
            <div class="form-floating mb-3">
              <input type="date" class="form-control" name="edd" id="floatingInput1" placeholder=""
                value="{{i.update_eed}}">
              <label for="floatingInput1">Estimate Delivery Date</label>
            </div>
          </div> -->
          <div class="col-sm-3">
            <div class="form-floating mb-3">
              <input type="date" class="form-control" name="actualdeliverydate" id="floatingInput1" placeholder=""
                value="{{i.update_actual}}">
              <label for="floatingInput1">Actual Delivery Date</label>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-floating mb-3">
              <select class="form-control" name="modeofdispatch" aria-label="Default select example" id="floatingInput3">
                <option selected value="" disabled>Select Dispatch Mode</option>
                {% for i in DispachMode %}
                <option value="{{i.id}}">{{i.name}}</option>
                {% endfor %}

              </select>
              <label for="floatingInput3">Mode of Dispatch</label>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-floating mb-3">
            {% if i.update_courierno == None %}
            <input type="text" class="form-control" name="couriernumber" id="floatingInput1" placeholder=""
                value="">
              <label for="floatingInput1">Transport Courier Number</label>
            </div>
            {% else %}
            <div class="form-floating mb-3">
            <input type="text" class="form-control" name="couriernumber" id="floatingInput1" placeholder=""
                value="{{i.update_courierno}}">
              <label for="floatingInput1">Transport Courier Number</label>
            </div>
            {% endif %}
          </div>
        </div>
        
        <div class="row" style="margin-top: 10px;">
          <div class="col-sm-3">

          </div>
          <div class="col-sm-3">

          </div>
          <div class="col-sm-3">
            <button class="btn btn-success" type="submit">Submit</button>
          </div>
        </div>

      </form>
    </div>

  </section>
</div>


{% endblock content %}
{% block main_script %}
{% endblock main_script %}