<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet" >
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    
    
    <title>{% block title %}  {% endblock title %}</title>
    {% block head %}  
    
    {% endblock head %}
  </head>
  <body>
    
      {% block content %}
    
      
      {% endblock content %}
      <script src="{% static 'main/js/bootstrap.bundle.js' %}" crossorigin="anonymous"></script>
      {% block main_script %}

      {% endblock main_script %}
</body>
</html>
